@import "tailwindcss";

@theme {
  --color-brand-dark: #342E2B;
  --color-brand-accent: #F97316;
  --color-brand-gray: #F3F4F6;
  --color-brand-sidebar: #2B2623;

  --radius-3xl: 1.5rem;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F3F4F6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}